<div class="jumbotron">
  <div class="container-fluid">
    <h1 class="display-3">X-GAMES EXCLUSIVE:</h1>
    <p>Monster Army Take Over</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<div class="container-fluid">
  <div id="first" class="row">
    <div class="col-md-12">
      <!-- promo -->
      <div id="promo" class="row">
        <div class="col-md-12">
          <div id="whatItTakes">
            <p>Do you have what it takes to join an elite team of athletes? Find out today.</p>
            <div class="green-rule"></div>
            <p>Earn real, cold hard cash for finishing in the Top 3 at iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
          </div>
          <div id="upForGrabs">
            <p>upForGrabs</p>
          </div>
          <div id="openEnrollment">
            <p>openEnrollment</p>
          </div>
        </div>
      </div>

      <!-- newsworthy -->
      <div id="newsworthy" class="row">
        <div class="col-md-12">
          <p>Newsworthy</p>
        </div>
      </div>
    </div>
  </div>
  <div id="second" class="row">
    <div class="col-md-12">
      <!-- athlete of the week -->
      <div id="athlete" class="row">
        <div class="col-md-12">
          <p>Athlete of the Week</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
