h1, p {
  color: #ffffff;
}

.jumbotron {
  background-image: url("./img/big-wave-surfer.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  margin-bottom: 0;
}

#first {
  background-image: url("./img/camobg.png");
}

#second {
  background-image: url("./img/kadenbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-box {
  width: 350px;
}

#whatItTakes {
  background-color: #465a31;
}

#upForGrabs {
  background-color: #2e2f1e;
}

#openEnrollment {
  background-color: #080707;
}
